<div class="row">
    <div class="col-md-12">
        <h2>Products</h2>
        
        <!-- Search and Sort Controls -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" 
                                   placeholder="Search products..." 
                                   ng-model="vm.searchText" 
                                   ng-change="vm.searchProducts()">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default" 
                                    ng-click="vm.sortProducts('name')"
                                    ng-class="{active: vm.sortBy === 'name'}">
                                Name 
                                <span ng-show="vm.sortBy === 'name'">
                                    <i class="glyphicon" 
                                       ng-class="{'glyphicon-chevron-up': !vm.reverse, 'glyphicon-chevron-down': vm.reverse}"></i>
                                </span>
                            </button>
                            <button type="button" class="btn btn-default" 
                                    ng-click="vm.sortProducts('price')"
                                    ng-class="{active: vm.sortBy === 'price'}">
                                Price
                                <span ng-show="vm.sortBy === 'price'">
                                    <i class="glyphicon" 
                                       ng-class="{'glyphicon-chevron-up': !vm.reverse, 'glyphicon-chevron-down': vm.reverse}"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Products Grid -->
        <div class="row">
            <div class="col-md-4" ng-repeat="product in vm.searchProducts() | orderBy:vm.sortBy:vm.reverse">
                <div class="panel panel-default product-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{product.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <img ng-src="{{product.imageUrl || '/assets/img/placeholder.png'}}" 
                             class="img-responsive" alt="{{product.name}}">
                        <div class="product-price">${{product.price.toFixed(2)}}</div>
                        <p class="product-description">{{product.description}}</p>
                    </div>
                    <div class="panel-footer">
                        <a href="#/products/{{product.id}}" class="btn btn-primary">View Details</a>
                        <button class="btn btn-success pull-right" 
                                ng-click="vm.addToCart(product)">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- No Products Found Message -->
        <div class="alert alert-info" ng-if="vm.searchProducts().length === 0">
            No products found matching your search criteria.
        </div>
    </div>
</div>
